@import './variables.scss';

.app-footer {
    padding: 25px;
    background-color: $backgroundColor;
    bottom: 0;
    right: 0;
}

.absolute-position {
    position: absolute;
}

.app-footer {
    color: #869099
}